{erl_opts, [
	warnings_as_errors,
	bin_opt_info
]}.

{clean_files, [
	"erl_crash.dump",
	"*.eunit", "ebin/*", ".eunit/",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png", "doc/edoc-info",
	"test/ct/logs/*", "test/ct/*.beam", "test/ct/helpers/*.beam",
	"deps/*"
]}.

{deps, [
	{dh_date, "1.0.0"},
	{meck, "0.9.2"}
]}.

{deps_dir, "deps"}.


{cover_enabled, true}.

{eunit_opts, [
%	verbose,
	{report, {
		eunit_surefire,
		[{dir, "."}]
	}}
]}.

{eunit_compile_opts, [
	export_all
]}.


{ct_dir, "test/ct"}.
{ct_log_dir, "test/ct/logs"}.
{ct_extra_params, "-args_file test/ct/config/node.args -pa test/ct"}.
{ct_use_short_names, true}.
